{% extends 'base.html' %} {% block content %}
<div class="container">
  <!-- distinct keywords, users, time ==> filter  -->
  <form action="?" method="get">
    <div class="row">
      <h2 class="text-center text-primary m-4">Filters</h2>
      <!-- dictinct keywords  -->
      <div class="col-md-3 shadow">
        <h2 class="text-center text-primary">Key-Words</h2>
        <div class="m-3">
          {% for h in keywords %}
          <li>
            <input type="checkbox" value="{{h.keyword }}" name="keyword_checkbox" />
            {{h.keyword}} ({{ h.key_count}} times found )
          </li>
          {% endfor %}
        </div>
      </div>

      <!-- users  -->
      <div class="col-md-3 shadow">
        <h2 class="text-center text-primary">Users</h2>
        <div class="m-3">
          {% for h in users %}
          <li>
            <input type="checkbox" value="{{h.username }}" name="user_checkbox" />
            {{h.username}}
          </li>
          {% endfor %}
        </div>
      </div>
      <!-- fixed date  -->
      <div class="col-md-3 shadow">
        <h2 class="text-center text-primary">Time Range</h2>
        <div class="m-3">
          <li>
            <input type="checkbox" value="1" name="time_checkbox" />
            See data from Yesterday
          </li>
          <li>
            <input type="checkbox" value="7" name="time_checkbox" />
            See data from last week
          </li>
          <li>
            <input type="checkbox" value="30" name="time_checkbox" />
            see data from last month
          </li>
        </div>
      </div>

      <div class="col-md-3 shadow">
        <h2 class="text-center text-primary">Select Date</h2>
        <div class="m-1">
          <li>Start Date:
            <input type="date" name="start_date" class="m-1" />
          </li>
          <li>End Date:
            <input type="date" name="end_date" class="m-1"/>
          </li>
        </div>
      </div>

      <div class="m-4">
        <button class="btn btn-primary" type="submit" >Submit</button>
      </div>
    </div>
  </form>
  <!-- all data with describe  -->
  <div class="row">
    <h2 class="text-center text-primary m-4">All Search History</h2>
    {% for data in all_Data %}
    <div class="col-md-3">
      <div class="card shadow m-3 p-3">
        keyword : {{data.keyword}} <br />
        Searched by : {{data.user}} <br />
        Searched Result : {{data.result}} <br />
        searched Time : {{data.time}}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
